<template>
    <div class="container">
        <div class="col-md-12 mt-3">
            <b-form >
                <b-form-group
                        label="Site url:"
                        label-for="url"
                >
                    <b-form-input
                            id="url"
                            type="email"
                            v-model="url"
                            required
                            placeholder="https://yoursite.com" />
                </b-form-group>
                <b-form-group
                        label="Param for ulr:"
                        label-for="param"
                >
                    <b-form-input
                            id="param"
                            type="text"
                            v-model="param"
                            required
                            placeholder="client" />
                </b-form-group>
                <b-form-group
                        label="Value param:"
                        label-for="value"
                >
                    <b-form-input
                            id="value"
                            type="text"
                            v-model="value"
                            required
                            placeholder="ex: 100" />
                </b-form-group>
                <div class="col-md-12" v-if="isQRReady">
                    <qrcode-vue class="offset-3 mt-4" :value="qrData" :size="300" level="H"></qrcode-vue>
                </div>
            </b-form>
        </div>
    </div>
</template>

<script>
  import QrcodeVue from 'qrcode.vue';
  export default {
    name: "QRGenerator",
    components: {QrcodeVue},
    computed: {
      isQRReady: function () {
        return this.url && this.param && this.value
      },
      qrData: function () {
        return `${this.url}/?${this.param}=${this.value}`;
      },
    },
    data() {
      return {
        url: '',
        param: '',
        value: '',
      }
    },
  }
</script>
<style scoped>
</style>
